
  
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of demolist"> 
      <div class="Broadcasts-card ">
        <h1 class="text-center">General Updates</h1>
        <div class="">
            <div class="float-left">
                <p style="font-size: 18px;">1546
                    <samp class="custom-mini-icon"></samp>
                </p>
            </div>
            <br>
            <hr class="line">
            <div class="">
                <div class="float-left">
                    <p>Last <br> Broadcasted</p>
                </div>
                <div class="float-right">
                    <p>1Day ago</p>
                </div>
            </div>
            <br>
            <br>
            <hr class="line">
            <div class="">
                <div class="float-left">
                    <p>Avg. <br>
                        Broadcast Time</p>
                </div>
                <div class="float-right">
                    <p>18hrs</p>
                </div>
            </div>

        </div>
      
    </div>
    </ng-template>  
   
  </owl-carousel-o>
  