<!-- <section style="width: 100%;">
  <div class="grid-container" style="width: 75%;">
    <mat-grid-list [cols]="currentScreenSize" rowHeight="80px" >
      <mat-grid-tile >
        <div class="mask p-2">
          <div class="float-left">
              New Broker <br>
              Requests
          </div>
          <div class="float-right mt-1">
              <samp class="custom-number-mini-icon">01</samp>
          </div>
      </div>
      </mat-grid-tile>
      <mat-grid-tile >
        <div class="mask p-2">
          <div class="float-left">
              New Broker <br>
              Requests
          </div>
          <div class="float-right mt-1">
              <samp class="custom-number-mini-icon">01</samp>
          </div>
      </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="mask p-2">
          <div class="float-left">
              New Broker <br>
              Requests
          </div>
          <div class="float-right mt-1">
              <samp class="custom-number-mini-icon">01</samp>
          </div>
      </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="mask p-2">
          <div class="float-left">
              New Broker <br>
              Requests
          </div>
          <div class="float-right mt-1">
              <samp class="custom-number-mini-icon">01</samp>
          </div>
      </div>
      </mat-grid-tile>
    
    </mat-grid-list>
  </div>
  <div class="Notifications" style="width: 20%;">
    <mat-card>Simple card</mat-card>
  </div>
</section>
<br> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <mat-grid-list [cols]="currentScreenSize" rowHeight="80px" >
        <mat-grid-tile >
          <div class="mask p-2">
            <div class="float-left">
                New Broker <br>
                Requests
            </div>
            <div class="float-right mt-1">
                <samp class="custom-number-mini-icon">01</samp>
            </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile >
          <div class="mask p-2">
            <div class="float-left">
                New Broker <br>
                Requests
            </div>
            <div class="float-right mt-1">
                <samp class="custom-number-mini-icon">01</samp>
            </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="mask p-2">
            <div class="float-left">
                New Broker <br>
                Requests
            </div>
            <div class="float-right mt-1">
                <samp class="custom-number-mini-icon">01</samp>
            </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="mask p-2">
            <div class="float-left">
                New Broker <br>
                Requests
            </div>
            <div class="float-right mt-1">
                <samp class="custom-number-mini-icon">01</samp>
            </div>
        </div>
        </mat-grid-tile>
      
      </mat-grid-list>
      <h1>Broadcasts</h1>
      <app-slider></app-slider>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6  col-sm-6  col-xl-6 col-12 p-2">
                <div class="project-card ">
                    <div class="float-left  ">
                       <div class="mt-5">
                        <mat-spinner mode="determinate" value="30">jh</mat-spinner>
                        <div style="position:relative; top: -70px; left: 30px;">
                            Assigned <br>
                            Projects
                            <br>
                            04
                        </div>
                       </div>
                    </div>
                    <div class="float ">
                        <h4 class="text-left">Most Viewed Project</h4>
                        <small>265 broker accesed in last 7 days</small>
                    </div>
                </div>
               
                
            </div>
            <div class="col-md-6  col-sm-6  col-xl-6 col-12  p-2">
                <div class="project-card ">
                    <div class="float-left  ">
                       <div class="mt-5">
                        <mat-spinner mode="determinate" value="30">jh</mat-spinner>
                        <div style="position:relative; top: -70px; left: 30px;">
                            Assigned <br>
                            Projects
                            <br>
                            04
                        </div>
                       </div>
                    </div>
                    <div class="float ">
                        <h4 class="text-left">Most Viewed Project</h4>
                        <small>265 broker accesed in last 7 days</small>
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-3" id="Notifications">
      <h5 class="py-5">Notifications</h5>
     <app-notifications></app-notifications>
    </div>
  </div>
</div>