<div class="rectangle-1">
    <mat-selection-list #shoes [multiple]="false">
        <mat-list-option>
            Dashboard
        </mat-list-option>
        <mat-list-option>
            Projects
        </mat-list-option>
        <mat-list-option>
            Broadcasts
        </mat-list-option>
        <mat-list-option>
            Channel Parnter
        </mat-list-option>
        <mat-list-option>
            Meetings & Visits
        </mat-list-option>
        <mat-list-option>
            Reports
        </mat-list-option>
        <mat-list-option>
            Team
        </mat-list-option>
        <mat-list-option>
            Events & Polls
        </mat-list-option>

        <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              less
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <p>
            <mat-selection-list [multiple]="false">
                <mat-list-option>
                    News
                </mat-list-option>
                <mat-list-option>
                    Circle Rate
                </mat-list-option>
                <mat-list-option>
                    Govt.Policies
                </mat-list-option>
                <mat-list-option>
                    Maps & Masterplans
                </mat-list-option>
                <mat-list-option>
                    Deed/Document Writers
                </mat-list-option>
            </mat-selection-list> 
          </p>
         
        </mat-expansion-panel>
        </mat-accordion>
    </mat-selection-list>
</div>