<div >
    <p class="date">Today, October 16</p>
    <hr>
  
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar src="assets/sachin.jpg" alt="">
        <mat-card-title class="cardText">Mr. Rajneesh Kumar Project <br>
          Brochure</mat-card-title>
      </mat-card-header>
    </mat-card>
    <hr style="border: 1px dotted rgb(153, 150, 150);">
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar src="assets/sachin.jpg" alt="">
        <mat-card-title class="cardText">Mr. Rajneesh Kumar Project <br>
          Brochure</mat-card-title>
      </mat-card-header>
    </mat-card>
  <br>
    <p class="date">Today, October 16</p>
  
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar src="assets/sachin.jpg" alt="">
        <mat-card-title class="cardText">Mr. Rajneesh Kumar Project <br>
          Brochure</mat-card-title>
      </mat-card-header>
    </mat-card>
    <hr style="border: 1px dotted rgb(150, 145, 145);">
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar src="assets/sachin.jpg" alt="">
        <mat-card-title class="cardText">Mr. Rajneesh Kumar Project <br>
          Brochure</mat-card-title>
      </mat-card-header>
    </mat-card>
    
  
  </div>